---
import Layout from "../layouts/Layout.astro";
import HeritageClimax from "../components/heritage/HeritageClimax.astro";
---

<Layout>
	<main style="background:#1c0a00;">
		<HeritageClimax />
	</main>
</Layout>
