---
interface Props{
    title: string;
    color: string;
}

const { title, color } = Astro.props as Props;
---

<div class=`flex flex-col justify-center items-center text-center min-h-screen m-auto ${color}`>
    <h2 class="text-2xl font-bold">{title}</h2>
</div>